body {
    display: flex;

}

.container {
    display: grid;
    grid-template-areas: "a a a";
    grid-template-columns: 650px 1fr;
    justify-content: space-between;
    margin: 30px;
    width: 100%;
}

/*.left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}*/

.left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left_header {
    display: flex;
}

.button_select_file,
.button_save_file {
    padding: 15px;
    border-radius: 12px;
    font-size: 15px;
    color: #fff;
}

.button_select_file {
    display: flex;
    align-items: center;
    background: #5f8bfb;
}

.button_select_file > .file_name {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    background: #fff;
    font-size: 12px;
}

.button_save_file {
    margin-top: 10px;
    background: #5cc936;
}

.file_content {
    display: none;
    margin: 30px 30px 0 0;
    overflow-y: scroll;
}

.file_content.active {
    display: block;
}

.center {
    width: 100%;
    height: 100%;
}

.textfields_ia {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textfield {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 40px);
    height: calc(100vh - 100vh);
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #b5b5b5;
    overflow-y: scroll;
}

.textfield_instruction {
    margin-bottom: 30px;
    flex-grow: 0;
    height: 250px;
}

.textfield_instruction::before,
.textfield_output::before {
    pointer-events: none;
    display: block;
    height: 0;
    font-size: 12px;
    transform: translate(0px, -23px);
}

.textfield_instruction::before {
    content: "Instruction";
}

.textfield_output::before {
    content: "Output";
}

#editor-instruction .ce-toolbar__actions {
    display: none;
}

.right {
    margin-left: 30px;
}

.right > .create_next_data {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 100%;
    border-radius: 20px;
    font-size: 25px;
}

.create_next_data > span {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    font-size: 20px;
}

.special_buttons_fileContent {
    display: grid;
    margin-left: 10px;
}

.button_data {
    width: 150px;
    padding: 15px;
    border-radius: 12px;
    font-size: 15px;
}

.show_all_data {
    margin-top: 10px;
}

.recovery_data {
    position: absolute;
    left: 30px;
    bottom: 0;
    font-size: 11px;
}

@media (max-width: 1380px) {
    .container {
        grid-template-columns: 500px 1fr;
    }
}

@media (max-width: 1120px) {
    .container {
        grid-template-columns: 300px 1fr;
    }
    .file_content {
        visibility: hidden;
    }
}